body {
    background-image: linear-gradient(lightblue, gold, lightblue);
    background-repeat:repeat;
    
}

h1 {
    border: 5px solid gold;
    text-align: center;
    background: white;
    color: gold;
}


.theFamily {
    margin: 15px;
    height: 400px;
    width: 400px;
    background: lightgoldenrodyellow;
    border: 5px white ridge;
    float: left;
    text-align: center;
}

